Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

-------------------------------------------------------------------
Databases are categorized as Relational Database Management System (RDBMS).

SQL databases are best suited for complex queries.

SQL databases display data in form of tables so it is known as table-based database.

SQL databases use a powerful language "Structured Query Language" to define and manipulate the data.

	MySQL, Oracle, Sqlite, PostgreSQL and MS-SQL

-------------------------------------------------------------------

NoSQL databases are categorized as Non-relational or distributed database system.

NoSQL databases are not so good for complex queries because these are not as powerful as SQL queries.

In NoSQL databases, collection of documents are used to query the data. It is also called unstructured query language. It varies from database to database.

NoSQL databases are best suited for hierarchical data storage.

 MongoDB, BigTable, Redis, RavenDB

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL statements are similar to a computer programming language for defining data structures, especially database schemas.
Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. 

 DDL command:

--------------------------------------------------------------

CREATE TABLE Student.
(
Roll_No. Int ,
First_Name Varchar (20) ,
Last_Name Varchar (20) ,
Age Int ,
Marks Int ,
) ;


This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes

---------------------------------------------------------------

ALTER TABLE Student
ADD Grade Varchar(5);

This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

---------------------------------------------------------------

TRUNCATE TABLE Student;

This command is used to remove all rows from the table, but the structure of the table still exists.

---------------------------------------------------------------

DROP TABLE Student;

This command is used to remove an existing table along with its structure from the Database.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database. 


1.The INSERT statement introduces new rows into an existing table.

2.The DELETE statement removes a row or combination of rows from a table.

3.The UPDATE statement enables users to update a row or group of rows in a table.

----------------------------------------------------------------

INSERT INTO Students(StudentId, StudentName, DepartmentId, DateOfBirth)
              VALUES(11, 'Ahmad', 4, '1997-10-12');

INSERT INTO Students VALUES(12, 'Aly', 4, '1996-10-12');

**************************************************************

UPDATE Students
SET DepartmentId = 3 
WHERE StudentId = 6;

**************************************************************

DELETE FROM Students WHERE StudentId = 11 OR StudentId = 12;

*****************************************************************

Q4. What is DQL? Explain SELECT with an example.

The full form of DQL is Data Query Language. DQL is a part of the grouping involved in SQL (Structures Query Language) sub-languages. 

DQL statements are used for performing queries on the data within schema objects.

The SELECT statement is used to select data from a database.

SELECT * FROM Student where course_name="pwskills";

Q5. Explain Primary Key and Foreign Key.


Primary key is used to uniquely identify a row	
A table can have only have one primary key
#######################################################

CREATE TABLE Student(
  roll no int NOT NULL,
  NAME varchar(255) NOT NULL,
  Phone varchar(255),
  ADDRESS varchar(255),
  PRIMARY KEY (roll no)
}
##############################################################

Foreign key is used to connect two tables or maintain the relationship between them
A table can have multiple foreign keys

##############################################################

CREATE TABLE Performance (
  PID int NOT NULL,
  Subject Name varchar(255) NOT NULL,
  Marks int,
  PRIMARY KEY (PID),
  FOREIGN KEY (roll no) REFERENCES Student(roll no)
);

##############################################################

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

cursor()-
You can create Cursor object using the cursor() method of the Connection object/class.

	
execute()-This method accepts a MySQL query as a parameter and executes the given query.

import mysql.connector

from mysql.connector import Error


try:

    connection = mysql.connector.connect(host='localhost',
                                         database='Electronics',
                                         user='ankit',
                                         password='ankit@#29')

    if connection.is_connected():

        db_Info = connection.get_server_info()

        print("Connected to MySQL Server version ", db_Info)

        cursor = connection.cursor()

        cursor.execute("select database();")

        record = cursor.fetchone()

        print("You're connected to database: ", record)

except Error as e:

    print("Error while connecting to MySQL", e)

finally:

    if connection.is_connected():

        cursor.close()

        connection.close()

        print("MySQL connection is closed")

Q7. Give the order of execution of SQL clauses in an SQL query.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.