In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd

ser=pd.Series([4, 8, 15, 16, 23,42])

print(ser)

type(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
variable print it.

In [5]:
import pandas as pd

l=[1,2,3,4,5,6,7,8,9,10]

ser=pd.Series(l)

print(ser)

type(ser)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

pandas.core.series.Series

Q3. Create a Pandas DataFrame that contains the following data:

![image.png]()


Then, print the DataFrame.

In [7]:
import pandas as pd

data={"Name":["Alice","Bob","Claire"],
      "Age":[25,30,27],
      "Gender":["Female","Male","Female"]}

df=pd.DataFrame(data)

df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A pandas series is a one-dimensional data structure that comprises of key-value pair, where keys/labels are the indices and values are the values stored on that index. It is similar to a python dictionary, except it provides more freedom to manipulate and edit the data.

Example:

import pandas as pd

ser=pd.Series([4, 8, 15, 16, 23,42])

print(ser)

type(ser)

output

0     1

1     2

2     3

3     4

4     5

5     6

6     7

7     8

8     9

9    10

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

![image.png]()

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
you give an example of when you might use one of these functions?

DataFrame.drop()
This is a method to remove columns or rows from your DataFrame.

Dataframe.rename()
After some playtime with your fresh and crispy DataFrame, you might find that some of the original column names or the ones you have chosen are not cutting it anymore. You can apply the rename method on your DataFrame

Dataframe.sort_values()
Even though the sort_values can do much more, the most basic and most probable use case for you right now is sorting your DataFrame by a specific column or collection of columns. 

Handling Missing Values
Sometimes missing values (NaN to be precise, stands for Not a Number, a Numpy constant for missing values, or NULL if you are coming from more of an SQL vocabulary) are needed to be dealt with to continue your work with the dataset. The fillna()

DataFrame.drop_duplicates()
Duplication handling is really easy with the drop_duplicates

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All Pandas data structures are value mutable (can be changed) and except Series all are size mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
import pandas as pd

data1=pd.Series([1,2,3,4,5])

data2=pd.Series(['a','b','c','d','e'])

data3=pd.Series([123,456,789,987,654])

df_concat=pd.concat([data1,data2,data3],axis=1)

df_concat

   0  1    2
0  1  a  123
1  2  b  456
2  3  c  789
3  4  d  987
4  5  e  654