Q1. List any five functions of the pandas library with execution.

pandas.Series()

pandas.DataFrame()

pandas.read_csv or read_excel or read_html

describe()

sort_index() or sort_values()

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the 
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [92]:
import pandas as pd

df={"A":[1,2,3,4],
    "B":[2,3,4,5],
    "C":[3,4,5,6]}
df=pd.DataFrame(df)
print(df)

def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df)*2)
    return df.set_index(new_index)
new_df = reindex_dataframe(df)
print("New Dataframe")
print(new_df)

   A  B  C
0  1  2  3
1  2  3  4
2  3  4  5
3  4  5  6
New Dataframe
   A  B  C
1  1  2  3
3  2  3  4
5  3  4  5
7  4  5  6

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that 
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The 
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should 
calculate and print the sum of the first three values, which is 60.

In [93]:
import pandas as pd

df={"Values":[10,20,30,40,50]}
df=pd.DataFrame(df)
print(df)

   Values
0      10
1      20
2      30
3      40
4      50

In [94]:
sum_first_three=df.head(3).sum()

In [95]:
sum_first_three

Values    60
dtype: int64

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [96]:
import pandas as pd
df={"Text":["Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation via the off-side rule.","What is Your Name ?","My Name is Ankit Prakash Sharma"]}
df=pd.DataFrame(df)
df

                                                Text
0  Python is a high-level, general-purpose progra...
1                                What is Your Name ?
2                    My Name is Ankit Prakash Sharma

In [97]:
df["Word_Count"]=df['Text'].apply(len)
df

                                                Text  Word_Count
0  Python is a high-level, general-purpose progra...         174
1                                What is Your Name ?          19
2                    My Name is Ankit Prakash Sharma          31

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size and DataFrame.shape are two methods that provide different information about the DataFrame:

DataFrame.size: This method returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns. It does not take any arguments and returns a single integer value.

DataFrame.shape: This method returns a tuple representing the dimensions of the DataFrame. The tuple contains two elements: the number of rows and the number of columns, in that order. It does not take any arguments.

Therefore, DataFrame.size and DataFrame.shape are different in that size returns a single integer representing the total number of elements in the DataFrame, while shape returns a tuple with the number of rows and columns of the DataFrame.

Q6. Which function of pandas do we use to read an excel file?

This function is part of the pandas library and allows us to read data from Excel files into a pandas DataFrame.

The basic syntax of the read_excel() function is as follows:
import pandas as pd

df = pd.read_excel('file_name.xlsx')

where file_name is the name of the Excel file we want to read.

The read_excel() function can take several optional arguments, such as specifying the sheet name or index to read, selecting specific columns to read, or specifying data types for specific columns.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email 
addresses in the format 'username@domain.com'. Write a Python function that creates a new column 
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the 
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your 
function should extract the username from each email address and store it in the new 'Username' 
column

In [98]:
import pandas as pd

df=pd.DataFrame({"Email":["ankit@gmail.com","sharma@gmail.com","prakash@gmail.com","john.doe@example.com"]})
df
def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

df = extract_username(df)
df

                  Email  Username
0       ankit@gmail.com     ankit
1      sharma@gmail.com    sharma
2     prakash@gmail.com   prakash
3  john.doe@example.com  john.doe

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects 
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The 
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

   A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2

Your function should select the following rows:   A   B   C

1  8   2   7

4  9   1   2

The function should return a new DataFrame that contains only the selected rows.

In [99]:
import pandas as pd
df=pd.DataFrame({"A":[3,8,6,2,9],"B":[5,2,9,3,1],"C":[1,7,4,5,2]})
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [100]:
dataframe=pd.DataFrame(df)
new_dataframe=dataframe[(dataframe["A"] > 5) & (dataframe["B"] < 10)]
print(new_dataframe)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, 
median, and standard deviation of the values in the 'Values' column

In [101]:
import pandas as pd

def calculate_statistics(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    return mean, median, std_dev

df=pd.DataFrame({"Values":[1,2,3,4,5]})
mean, median, std_dev = calculate_statistics(df)
print("Mean:", mean)
print("Median:", median)
print("Standard deviation:", std_dev)

Mean: 3.0
Median: 3.0
Standard deviation: 1.5811388300841898

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to 
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days 
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and 
should include the current day.

In [102]:
import pandas as pd

def create_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

df = pd.DataFrame({'Date': ['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09', '2021-01-10'], 'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]})
df['Date'] = pd.to_datetime(df['Date'])
df = create_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2021-01-01     10           10.0
1 2021-01-02     20           15.0
2 2021-01-03     30           20.0
3 2021-01-04     40           25.0
4 2021-01-05     50           30.0
5 2021-01-06     60           35.0
6 2021-01-07     70           40.0
7 2021-01-08     80           50.0
8 2021-01-09     90           60.0
9 2021-01-10    100           70.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new 
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. 
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

         Date

0  2023-01-01

1  2023-01-02

2  2023-01-03

3  2023-01-04

4  2023-01-05

Your function should create the following DataFrame:


         Date    Weekday

0  2023-01-01    Sunday

1  2023-01-02     Monday

2  2023-01-03    Tuesday

3  2023-01-04    Wednesday

4  2023-01-05    Thursday

The function should return the modified DataFrame.

In [ ]:
import pandas as pd

def add_weekday_column(df, date_column):
    df['Weekday'] = pd.to_datetime(df[date_column]).dt.weekday_name
    return df

df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
})

df = add_weekday_column(df, 'Date')
print(df)

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python 
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [111]:
import pandas as pd

def select_rows_between_dates(df, date_column):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df[date_column] >= start_date) & (df[date_column] <= end_date)
    selected_rows = df.loc[mask]
    return selected_rows

In [112]:
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', end='2023-02-28', freq='D')
})
selected_rows = select_rows_between_dates(df, 'Date')
print(selected_rows)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to 
be imported?

The first and foremost necessary library that needs to be imported in order to use the basic functions of pandas is pandas itself. This is typically done using the following import statement:

import pandas as pd

This statement imports the pandas library and assigns it the alias pd, which is a common convention used in the Python community. Once you have imported pandas, you can use its basic functions, such as creating a DataFrame, selecting data from a DataFrame, and manipulating the data within a DataFrame.