In [3]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [5]:
sec_row=df.iloc[1]
print(sec_row)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?|

In pandas, loc and iloc are both used to select data from a DataFrame, but they differ in how they index the DataFrame:

loc is label-based, which means that you can index the DataFrame using the row and column labels. For example, df.loc[row_label, column_label] selects the data at the specified row and column labels. You can also use boolean arrays to select rows or columns based on a condition.

iloc is integer-based, which means that you can index the DataFrame using integer indices for the rows and columns. For example, df.iloc[row_index, column_index] selects the data at the specified row and column indices. You can also use slices to select a range of rows or columns.

In [6]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}, index=['a', 'b', 'c', 'd'])

In [7]:
df

   A  B   C
a  1  5   9
b  2  6  10
c  3  7  11
d  4  8  12

In [8]:
df.loc[['b', 'd'], 'B']

b    6
d    8
Name: B, dtype: int64

In [9]:
df.iloc[[1, 3], 1]

b    6
d    8
Name: B, dtype: int64

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df 
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [11]:
new_df=df.reindex([3,0,1,2])
new_df

    A   B   C
3 NaN NaN NaN
0 NaN NaN NaN
1 NaN NaN NaN
2 NaN NaN NaN

In [12]:
new_df.loc[2]

A   NaN
B   NaN
C   NaN
Name: 2, dtype: float64

In [13]:
new_df.iloc[2]

A   NaN
B   NaN
C   NaN
Name: 1, dtype: float64

In [31]:
#Consider the below code to answer further questions:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [32]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.035331  0.075943  0.014864  0.440299  0.324332  0.197102
2  0.389433  0.087465  0.495232  0.068282  0.174487  0.937401
3  0.126622  0.757161  0.202612  0.413087  0.027873  0.837115
4  0.435858  0.871735  0.501910  0.277934  0.332454  0.997297
5  0.600245  0.802191  0.123739  0.510466  0.209535  0.672095
6  0.977452  0.123443  0.766283  0.063511  0.307379  0.897983

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) 	mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [33]:
import pandas as pd

df1["Mean"]=df1.mean(axis=1)
df1

   column_1  column_2  column_3  column_4  column_5  column_6      Mean
1  0.035331  0.075943  0.014864  0.440299  0.324332  0.197102  0.181312
2  0.389433  0.087465  0.495232  0.068282  0.174487  0.937401  0.358717
3  0.126622  0.757161  0.202612  0.413087  0.027873  0.837115  0.394078
4  0.435858  0.871735  0.501910  0.277934  0.332454  0.997297  0.569531
5  0.600245  0.802191  0.123739  0.510466  0.209535  0.672095  0.486379
6  0.977452  0.123443  0.766283  0.063511  0.307379  0.897983  0.522675

In [34]:
std_deviation=df1['column_2'].std()
std_deviation

0.39349275528875516

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the 
mean of column, column_2.

If you are getting errors in executing it then explain why.

In [35]:
df1.loc[1, 'column_2'] = 'some string'

In [36]:
df1

   column_1     column_2  column_3  column_4  column_5  column_6      Mean
1  0.035331  some string  0.014864  0.440299  0.324332  0.197102  0.181312
2  0.389433     0.087465  0.495232  0.068282  0.174487  0.937401  0.358717
3  0.126622     0.757161  0.202612  0.413087  0.027873  0.837115  0.394078
4  0.435858     0.871735  0.501910  0.277934  0.332454  0.997297  0.569531
5  0.600245     0.802191  0.123739  0.510466  0.209535  0.672095  0.486379
6  0.977452     0.123443  0.766283  0.063511  0.307379  0.897983  0.522675

In [37]:
df1['column_2'].mean()

TypeError: ignored

error when calculating the mean of the column. This is because the mean function expects a numerical input, and a string cannot be converted to a number. In this case, you would need to convert the string values to numeric values before calculating the mean.

Q6. What do you understand about the windows function in pandas and list the types of windows 
functions?

In pandas, a window function is a way to perform a calculation on a subset of data, where the subset is defined by a sliding window over the data. The window is defined by a range of rows or columns, and the calculation is applied to the data within the window.

There are several types of window functions in pandas:

Rolling window functions: These functions apply a calculation to a rolling window of data, which slides over the data by a specified number of rows. The rolling() function is used to define the window, and then a calculation function can be applied to the window. Examples of rolling window functions include rolling_mean(), rolling_sum(), and rolling_std().

Expanding window functions: These functions apply a calculation to an expanding window of data, which includes all the rows up to and including the current row. The expanding() function is used to define the window, and then a calculation function can be applied to the window. Examples of expanding window functions include expanding_mean(), expanding_sum(), and expanding_std().

Exponentially weighted window functions: These functions apply a calculation to a window of data, where the weights of the data in the window decrease exponentially as you move further away from the current row. The ewm() function is used to define the window, and then a calculation function can be applied to the window. Examples of exponentially weighted window functions include ewm_mean() and ewm_std().

Rolling window aggregations: These functions calculate an aggregation over a rolling window of data, such as the maximum value or minimum value. The rolling() function is used to define the window, and then an aggregation function can be applied to the window. Examples of rolling window aggregations include rolling_max(), rolling_min(), and rolling_quantile().

Groupby window functions: These functions apply a calculation to a sliding window of data within each group defined by a groupby() operation. The rolling() or expanding() function is used to define the window within each group, and then a calculation function can be applied to the window. Examples of groupby window functions include rolling_apply(), expanding_apply(), and ewm_apply().

These types of window functions in pandas are very useful for performing calculations on subsets of data over a sliding window, which is a common operation in time series analysis and other types of data analysis.

Q7. Write a code to print only the current month and year at the time of answering this question.

In [38]:
import datetime

now = datetime.datetime.now()
print("Current month and year: %s %s" % (now.strftime("%B"), now.year))

Current month and year: May 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and 
calculates the difference between them in days, hours, and minutes using Pandas time delta. The 
program should prompt the user to enter the dates and display the result

In [39]:
import pandas as pd


date1 = input("Enter first date (YYYY-MM-DD): ")
date2 = input("Enter second date (YYYY-MM-DD): ")


date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)


delta = date2 - date1


days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds // 60) % 60


print("Difference between", date1.date(), "and", date2.date())
print("Days:", days)
print("Hours:", hours)
print("Minutes:", minutes)

Enter first date (YYYY-MM-DD): 2022-12-28
Enter second date (YYYY-MM-DD): 2023-12-28
Difference between 2022-12-28 and 2023-12-28
Days: 365
Hours: 0
Minutes: 0

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified 
column to a categorical data type. The program should prompt the user to enter the file path, column 
name, and category order, and then display the sorted data

In [ ]:
import pandas as pd


path = input("Enter file path: ")
col_name = input("Enter column name: ")
cat_order = input("Enter category order (comma-separated): ").split(',')


df = pd.read_csv(path)


df[col_name] = pd.Categorical(df[col_name], categories=cat_order, ordered=True)


df_sorted = df.sort_values(by=[col_name])


print(df_sorted)

Q10. Write a Python program that reads a CSV file containing sales data for different products and 
visualizes the data using a stacked bar chart to show the sales of each product category over time. The 
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Get input from user
path = input("Enter file path: ")

# Read CSV file into DataFrame
df = pd.read_csv(path)

# Convert 'Date' column to datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Group sales data by product category and date
sales_data = df.groupby(['Product Category', 'Date'])['Sales'].sum().unstack()

# Create stacked bar chart
ax = sales_data.plot(kind='bar', stacked=True)

# Set chart title and axis labels
ax.set_title('Sales by Product Category')
ax.set_xlabel('Date')
ax.set_ylabel('Sales')

# Show chart
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write 
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and 
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv


+-----------+--------+

| Statistic | Value  |

+-----------+--------+

| Mean      | 79.6   |

| Median    | 82     |

| Mode      | 85, 90 |

+-----------+--------+


Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85


The program should calculate the mean, median, and mode of the test scores and display the results 
in a table.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path of the CSV file containing the student data
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores using Pandas tools
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode()

# Display the mean, median, and mode in a table
table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'], 'Value': [mean, median, mode]})
print(table)