## Q1. What are the characteristics of the tuples? Is tuple immutable?

Tuples are used to store multiple items in a single variable.
Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.
A tuple is a collection which is ordered and unchangeable.
Tuples are written with round brackets.

Tuble are immutable means tuple value are nt change. Hence, tuples are not modifiable in nature.

## Q2 What are the two tuple methods in python? Give an example of each method. Give a reason why
## tuples have only two in-built methods as compared to Lists

## count()	Returns the number of times a specified value occurs in a tuple
## index()	Searches the tuple for a specified value and returns the position of where it was found

In [2]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [3]:

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

Q3   Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.

Set items are unordered, unchangeable, and do not allow duplicate values

In [6]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In the above list some data elements are duplicate. so now we have to remove duplicate value.

In [7]:
dup_value=set(List)

Now we used the set to remove the duplicate value

In [8]:
dup_value

{1, 2, 3, 4}

Now we have removed the duplicate values

Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

Both set.update() and set.union() perform the union operation. However, set.update() adds all missing elements to the set on which it is called whereas set.union() creates a new set.

In [9]:
s={1,2,3,4,5,6}
t={78,58,46,25}

a=s.union(t)
print(s)
print(t)
print(a)

{1, 2, 3, 4, 5, 6}
{46, 25, 58, 78}
{1, 2, 3, 4, 5, 6, 46, 78, 25, 58}

In the above code , union operation is performed and it doesnot change the original set and it creates a new set.

In [10]:
s={1,2,3,4,5,6}
t={78,58,46,25}

a=s.update(t)
print(s)
print(t)
print(a)

{1, 2, 3, 4, 5, 6, 46, 78, 25, 58}
{46, 25, 58, 78}
None

In the above code , update operation is performed and it  change the original set and return the orignal changed set.
We can't save the results of the update operation to a new set.

Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element

In [12]:
dict_example={"Name":"Ankit","Surname":"Sharma"}

Dictionary are ordered. In Python, a dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’. Dictionary holds pairs of values, one being the Key and the other corresponding pair element being its Key:value. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.

In [13]:
dict_example["Surname"]

'Sharma'

Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level 
nested dictionary.

Nesting Dictionary means putting a dictionary inside another dictionary.

In [14]:
 nested_dict = { 'dict1': {'key_A': 'value_A'},
                'dict2': {'key_B': 'value_B'}}

Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of 
the key as this list ['Python', 'Machine Learning’, 'Deep Learning']


dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [15]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [16]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('Topics',['Python','Machine Learning', 'Deep Learning'])
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'Topics': ['Python', 'Machine Learning', 'Deep Learning']}

Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display 
these three view objects for the given dictionary.

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Three views in the dictionary as follows:
1. keys
2.values
3. items

In [18]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Sport', 'Teams'])
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])